.add-course {
  font-family: Arial, sans-serif;
  margin: 10px;

  h2 {
    margin-bottom: 20px;
  }

  .form-group {
    margin-bottom: 15px;

    label {
      display: block;
      margin-bottom: 5px;
    }

    input[type="text"] {
      width: 100%;
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
  }

  .department-checkbox {
    display: flex;
    align-items: center; // Align items vertically in the center

    input[type="checkbox"] {
      margin-right: 5px;
    }

    .department-label {
      margin-left: 5px;
    }
  }

  .btn {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }

  .btn-primary {
    background-color: #007bff;
  }

  .btn-primary:hover {
    background-color: #0056b3;
  }
}


.course-list {
  font-family: Arial, sans-serif;
  margin: 10px;

  h2 {
    margin-bottom: 20px;
  }

  .course-item {
    margin-bottom: 20px;
    list-style-type: none;

    strong {
      font-weight: bold;
    }

    .department-item {
      list-style-type: circle;
      margin-left: 20px;
    }
  }

  .no-courses {
    p {
      font-style: italic;
    }
  }
}
