.add-course-main-container {
  position: relative;
  padding: 20px;

  @import "../../../styles.scss";

  .background {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background-image: url("../../../assets/bg2.webp");
    background-image: $bg-image;
    min-height: 100vh;
    background-size: cover;
    backdrop-filter: blur(8px);
  }

  .add-course {
    @include box-style;
  }

  h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 20px;
  }

  .form-group {
    margin-bottom: 20px;

    label {
      font-size: 1rem;
      color: #333;
    }

    .department-checkbox {
      margin-top: 10px;

      input[type="checkbox"] {
        margin-right: 5px;
        cursor: pointer;
      }

      .department-label {
        font-size: 1rem;
        color: #333;
        cursor: pointer;
      }
    }
  }

  .btn {
    font-size: 1rem;
  }
}

.course-list {
  padding: 20px;

  h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 20px;
  }

  ul {
    list-style: none;
    padding: 0;

    .course-item {
      background-color: rgba(255, 255, 255, 0.9);
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      padding: 20px;
      margin-bottom: 20px;
      border: 1px solid black;

      strong {
        font-weight: bold;
      }

      .department-item {
        margin-left: 20px;
      }

      .btn {
        margin-top: 10px;
      }
    }
  }

  .no-courses {
    p {
      font-size: 1rem;
      color: #333;
    }
  }
}

button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #0056b3;
}
