@import "../../../styles.scss";

.background {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // background-image: url("../../../assets/bg2.webp");
  background-image: $bg-image;
  min-height: 100vh;
  background-size: cover;
  backdrop-filter: blur(8px);
}
.quiz-container {
  // background-color: rgba(255, 255, 255, 0.8);
  // border-radius: 10px;
  // padding: 20px;
  // margin-bottom: 20px;
  // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  @include box-style;

  .quiz-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .quiz-info {
    margin-bottom: 5px;
    font-size: 1.1rem;
  }

  .quiz-form {
    margin-top: 20px;

    .question-container {
      border: 1px solid black;
      border-radius: 10px;
      padding: 20px;
      margin-bottom: 20px;

      .question-text {
        font-size: 1.2rem;
        margin-bottom: 10px;
      }

      .media-container {
        margin-bottom: 10px;

        img {
          max-width: 100%;
          height: auto;
        }
      }

      .options-list {
        list-style-type: none;
        padding-left: 0;

        .option-item {
          margin-bottom: 5px;

          .option-label {
            display: flex;
            align-items: center;

            .option-input {
              margin-right: 5px;
            }
          }
        }
      }
    }

    .submit-button {
      padding: 10px 20px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      font-size: 1.1rem;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #0056b3;
      }
    }
  }
}

.form-group {
  margin-top: 20px;

  label {
    font-size: 1.2rem;
    margin-bottom: 5px;
  }

  textarea {
    width: 98%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    resize: vertical;
  }
}
.btn-primary {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #0056b3;
  }
}
