@import "../../../styles.scss";

.container {
  padding: 20px;
}

.background {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // background-image: url("../../../assets/bg2.webp");
  background-image: $bg-image;
  background-size: cover;
  backdrop-filter: blur(8px);
}
.feedback-form {
  margin-bottom: 20px;

  .form-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .feedback-textarea {
    width: 98%;
    height: 100px;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 1rem;
  }

  .submit-button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .submit-button:hover {
    background-color: #0056b3;
  }
}

.feedbacks-container {
  .feedbacks-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .feedbacks-list {
    list-style-type: none;
    padding: 0;

    .feedback-item {
      margin-bottom: 15px;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;

      .feedback-property {
        margin-bottom: 5px;
      }
    }
  }
}

.no-feedbacks {
  font-size: 1rem;
  margin-top: 10px;
}

span {
  font-weight: bolder;
}
