.profile-main-container {
  // height: 100%;
  padding: 20px;
}
.background {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../../assets/bg.jpg");
  background-size: cover;
  backdrop-filter: blur(8px);
}
.profile-container {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  // background-color: black;
}

h2 {
  margin-bottom: 10px;
  color: #333;
}

p {
  margin: 5px 0;
}

.main-container {
  height: 100vh;
  background-color: #333;

  padding: 2rem;
  font-family: Arial, sans-serif;
}

.container {
  background-color: #222;
  border: 1px solid #444;
  border-radius: 5px;
  padding: 20px;
  height: auto;
  display: flex;
}

.user-info {
  flex: 2;
}

.user-address,
.user-profile {
  flex: 2;
  padding: 15px;
  border-left: 1px solid #ddd;
}

h2 {
  font-size: 18px;
  margin-top: 10px;
}

p {
  font-size: 16px;
  margin: 10px 0;
}

/* Highlight the seller's name */
h1 {
  font-size: 24px;
  margin: 0;
  color: #007bff;
  font-weight: bold;
}

/* Style the email link */
p a {
  color: #007bff;
  text-decoration: none;
}

/* Style the profile level */
.user-profile p {
  font-weight: bold;
  color: #4caf50;
}

.edit-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
  margin: 10px 0;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.edit-button:hover {
  background-color: #0056b3;
}

span {
  font-weight: bolder;
}

// * Popup Styles

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
  z-index: 999; /* Ensure it appears above other content */
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff; /* White background */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Drop shadow */
  z-index: 1000; /* Ensure it appears above overlay */
}

.popup-container {
  padding: 20px;
}

.popup-content {
  text-align: center;
}

.popup-content h2 {
  margin-bottom: 20px;
}

.popup-content form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.popup-content form div {
  display: flex;
  flex-direction: column;
}

.popup-content form label {
  margin-bottom: 5px;
}

.popup-content form input[type="text"],
.popup-content form input[type="tel"],
.popup-content form input[type="date"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.popup-content button {
  padding: 10px 20px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.update-button {
  background-color: #007bff;
}

.update-button:hover {
  background-color: #0056b3;
}

.popup-content form button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.popup-content form button + button {
  margin-top: 10px;
}

.close-button {
  margin-top: 10px;
  background-color: #dc3545; /* Red close button */
}

.close-button:hover {
  background-color: #c82333; /* Darker red on hover */
}
