<div class="landing-page">
  <div class="background"></div>
  <div class="overlay">
    <h1>Welcome to Quiz Management System</h1>

    <div class="information-container">
      <h2>Developer Information:</h2>
      <div class="developer-info">
        <p></p>
        <h2>Group: 13</h2>
        <div class="team-member-info">
          <p><strong>Name:</strong> Kishan Kumar Zalavadia</p>
          <p><strong>ID:</strong> 11685261</p>
          <p><strong>Email:</strong> KishanKumarZalavadia@my.unt.edu</p>
        </div>
        <div class="team-member-info">
          <p><strong>Name:</strong>Valapadasu Uday Bhaskar</p>
          <p><strong>ID:</strong>11696364</p>
          <p><strong>Email:</strong> ValapadasuUdayBhaskar@my.unt.edu</p>
        </div>
        <div class="team-member-info">
          <p><strong>Name:</strong>Sapthagiri Naik Bhukya/p>
          <p><strong>ID:</strong> </p>
          <p><strong>Email:</strong> SapthagiriNaikBhukya@my.unt.edu</p>
        </div>
      </div>
    </div>
  </div>
  <!-- <img src="../../../assets/bg.jpg" alt="Library Image" /> -->
</div>
