.landing-page {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  color: #000000;
}

.overlay h1 {
  font-size: 3rem;
  // font-weight: bold;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.information-container {
  margin: 50px 20px;
  padding: 20px;
  border: 1px solid #ccc;
  color: black;
  text-align: left;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  h2 {
    margin-bottom: 20px;
  }

  .developer-info {
    p {
      margin: 0;
      margin-bottom: 10px;

      strong {
        margin-right: 5px;
      }
    }
  }
}