<div class="landing-page">
  <div class="overlay">
    <h1>Welcome to</h1>
    <h1>Quiz Management System</h1>

    <div class="information-container">
      <h2>Developer Information:</h2>
      <div class="developer-info">
        <p><strong>Name:</strong> Kishan Kumar Zalavadia</p>
        <p><strong>ID:</strong> 11685261</p>
        <p><strong>Email:</strong> KishanKumarZalavadia@my.unt.edu</p>
      </div>
    </div>
  </div>
  <img src="../../../assets/bg.jpg" alt="Library Image" />
</div>
