.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

 @import "../../../styles.scss";

  .background {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background-image: url("../../../assets/bg2.webp");
    background-image: $bg-image;
    min-height: 100vh;
    background-size: cover;
    backdrop-filter: blur(8px);
  }

.container {
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.has-error {
  border-color: #dc3545;
}

.form-control {
  width: 92%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.text-danger {
  color: #dc3545;
}

.text-success {
  color: #28a745;
}

.float-right {
  float: right;
  margin-top: 10px;
}

.btn {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  text-align: center;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.text-danger {
  color: #dc3545;
}

.has-error .text-danger {
  color: #dc3545;
  font-size: 14px;
  display: block;
}

.d-none {
  display: none;
}