<div class="quiz-attempts" *ngIf="quizAttempts && quizAttempts.length > 0">
    <div class="background"></div>

  <h2>Quiz Attempts</h2>
  <ul>
    <li *ngFor="let attempt of quizAttempts" class="attempt-item">
      <p class="quiz-name">Quiz Name: {{ attempt.quiz.quizTitle }}</p>
      <p class="attempt-number">Attempt Number: {{ attempt.attemptNumber }}</p>
      <!-- <p class="start-time">Start Time: {{ attempt.startTime }}</p> -->
      <p class="end-time">End Time: {{ attempt.endTime }}</p>
      <p class="attempt-date">Attempt Date: {{ attempt.attemptDate }}</p>
      <p class="score">Score: {{ attempt.result.resultScore }}</p>
      <!-- Display other attempt details as needed -->
    </li>
  </ul>
</div>
<div *ngIf="!quizAttempts || quizAttempts.length === 0">
  <p>No Attempts</p>
</div>
