.addQuiz {
  padding: 20px;

  @import "../../../styles.scss";

  .background {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background-image: url("../../../assets/bg2.webp");
    background-image: $bg-image;
    min-height: 100vh;
    background-size: cover;
    backdrop-filter: blur(8px);
  }
  .add-quiz-form {
    // margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid black;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;

    .form-label {
      display: block;
      font-size: 1rem;
      margin-bottom: 5px;
    }

    .form-input,
    .form-textarea {
      width: 100%;
      padding: 8px;
      font-size: 1rem;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }

    .submit-button {
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 4px;
      padding: 10px 20px;
      font-size: 1rem;
      cursor: pointer;
    }
  }

  .view-quizzes {
    .section-title {
      font-size: 1.5rem;
      margin-bottom: 20px;
    }

    .quiz-list {
      list-style: none;
      padding: 0;

      .quiz-item {
        background-color: #f9f9f9;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 10px;
        margin-bottom: 10px;
        background-color: rgba(255, 255, 255, 0.5);
        border: 1px solid black;
        margin-bottom: 15px;
        padding: 10px;
        border-radius: 5px;

        .quiz-title {
          font-weight: bold;
        }

        .add-questions-button,
        .view-feedbacks-button {
          background-color: #007bff;
          color: #fff;
          border: none;
          border-radius: 4px;
          padding: 5px 10px;
          font-size: 1rem;
          cursor: pointer;
          margin-right: 10px;
        }
      }
    }

    .no-quizzes-found {
      p {
        font-size: 1rem;
        color: #333;
      }
    }
  }
}
